{% extends 'layouts/landing_base.html' %}
{% block title %}¡Gracias!{% endblock %}
{% block content %}
<div class="row justify-content-center py-5">
  <div class="col-md-6 text-center">
    <h1 class="display-4 mb-4">¡Gracias por tu interés!</h1>
    <p class="lead">En breve nos pondremos en contacto para brindarte más información.</p>
    <a href="{{ url_for('landing.landing_page', prescriptor_id=prescriptor.id) }}" class="btn btn-primary mt-3">Volver a la página anterior</a>
  </div>
</div>
{% endblock %}
